In [221]:
# Author: Carlos M. Figueroa Palomino
# Date: 3/9/2023
# Description: Python code that compiles the sequence of the first non-negative n even, odd, and Fibonacci numbers.

import pandas as pd

In [222]:
even = []
odd = []
fibo = [0,1]

n = int(0)

while n < 1:
  n = int(input("Enter an integer value greater than 0: "))

Enter an integer value greater than 0: 8

In [223]:
for i in range(n):
    even.append(2*i)
    odd.append(2*i+1)
    if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

if n == 1:
  fibo.pop() # Remove last element of the Fibonacci list if the input is 1 to match the len of the three lists

In [224]:
even

[0, 2, 4, 6, 8, 10, 12, 14]

In [225]:
odd

[1, 3, 5, 7, 9, 11, 13, 15]

In [226]:
fibo

[0, 1, 1, 2, 3, 5, 8, 13]

In [227]:
len(even) == len(odd) == len(fibo) #Test to check the len of the three lists

True

In [228]:
sequences_dict = {'Even':even, 'Odd':odd, 'Fibonacci':fibo}

sequences_df = pd.DataFrame(data = sequences_dict)

sequences_df

   Even  Odd  Fibonacci
0     0    1          0
1     2    3          1
2     4    5          1
3     6    7          2
4     8    9          3
5    10   11          5
6    12   13          8
7    14   15         13